/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

/* theme colors and font customization */
@theme {
  --font-display: "Rubik", "sans-serif";
  --color-primaryText: #F53838;
  --color-headingText: #0B132A;
  --color-subheadingText: #4F5665;
  --color-iconColor: #2FAB73;
}
