/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

/* theme colors and font customization */
html {
  scroll-behavior: smooth;
  transition: .5s ease;
}

@theme {
  --font-display: "Rubik", "sans-serif";
  --color-primaryText: #f53838;
  --color-headingText: #0b132a;
  --color-subheadingText: #4f5665;
  --color-iconColor: #2fab73;
}

@layer {
  .main-container {
    @apply container max-w-screen-xl mx-auto;
  }
  .section-wrapper {
    @apply top-[68px] relative py-20 bg-white overflow-x-hidden overflow-y-clip;
  }
  ::-webkit-scrollbar {
    @apply w-2.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-["#f1f1f1"];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primaryText;
  }
}
